    <%= ENV.fetch('SENDER_NAME').upcase %> PASSWORD CHANGED
  </td>
</tr>
<tr><td colspan='3' align='center' height='1' style='padding:0px;'></td></tr>
<tr><td align='left' style='padding-top:0px;'>&nbsp;</td>
  <td style='text-align:left;font-size:15px;color:#000;padding-top:0px;'>
    Hi <%= @resource.profile.first_name rescue @resource.email %>,
  </td><td align='left' style='padding-top:0px;'>&nbsp;</td>
</tr>
<tr><td colspan='3' align='center' height='1' style='padding:0px;'></td></tr>
<tr><td align='left' style='padding-top:0px;'>&nbsp;</td>
  <td style='text-align:left;font-size:15px;color:#000;padding-top:0px;'>
    The password for your <%= ENV.fetch('SENDER_NAME').upcase %> account,
    <%=@resource.email.split("@")[0].first%>*****<%=@resource.email.split("@")[0].last%>,
    was recently changed. If you made this change, you're all set.
  </td><td align='left' style='padding-top:0px;'>&nbsp;</td>
</tr>
<tr><td colspan='3' align='center' height='1' style='padding:0px;'></td></tr>
<tr><td align='left' style='padding-top:0px;'>&nbsp;</td>
  <td style='text-align:left;font-size:15px;color:#000;padding-top:0px;'>
    Did not change your password? Please take these steps to secure your account.
  </td><td align='left' style='padding-top:0px;'>&nbsp;</td>
</tr>
<tr><td colspan='3' align='center' height='1' style='padding:0px;'></td></tr>
<tr><td align='left' style='padding-top:0px;'>&nbsp;</td>
  <td style='text-align:left;font-size:15px;color:#000;padding-top:0px;'>
    1.  Recover your account here:
  </td><td align='left' style='padding-top:0px;'>&nbsp;</td>
</tr>
<tr><td colspan='3' align='center' height='1' style='padding:0px;'></td></tr>
<tr><td align='left' style='padding-top:0px;'>&nbsp;</td>
  <td style='text-align:left;font-size:15px;color:#000;padding-top:0px;'>
    https://<%= ENV['AUTH_URL_HOST'] %>/accounts/forgot/new
  </td><td align='left' style='padding-top:0px;'>&nbsp;</td>
</tr>
<tr><td colspan='3' align='center' height='1' style='padding:0px;'></td></tr>
<tr><td align='left' style='padding-top:0px;'>&nbsp;</td>
  <td style='text-align:left;font-size:15px;color:#000;padding-top:0px;'>
    2.  Review your phone numbers and email addresses and remove
    the ones that do not belong to you:
  </td><td align='left' style='padding-top:0px;'>&nbsp;</td>
</tr>
<tr><td colspan='3' align='center' height='1' style='padding:0px;'></td></tr>
<tr><td align='left' style='padding-top:0px;'>&nbsp;</td>
  <td style='text-align:left;font-size:15px;color:#000;padding-top:0px;'>
    https://<%= ENV['AUTH_URL_HOST'] %>/settings
  </td><td align='left' style='padding-top:0px;'>&nbsp;