<%= render 'shared/main_header' %>
<article>
  <section class="green-bg tradebgs">
    <div class="container animatedParent">
      <div class="col-md-12 col-sm-12 col-xs-12 animated fadeInUp go">
        <img src="/images/trade.png"/>
      </div>
    </div>
  </section>

  
  <section id="feature" class="green-bg featbg animatedParent">
    <div class="container animated fadeInUp go">
      <h1 class="fnt-lgt t-white text-center text-uppercase">FEATURES</h1>
      <div class="container  center-content col-md-12 col-sm-12 m-b-70 m-t-70">

        <div class="col-md-3 col-sm-6  text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/hightly-secure.png"/>
          </div>
          <br/>
          <h4 class="t-white">Highly secured users wallets</h4>
        </div>
        <div class="col-md-3 col-sm-6  text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/two-factor.png"/>
          </div>
          <br/>
          <h4 class="t-white">Two Factor Authentication (2FA) for further wallet protection.</h4>
        </div>
        <div class="col-md-3 col-sm-6 text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/elastic.png"/>
          </div>
          <br/>
          <h4 class="t-white">Elastic Multi-Signature wallet strategy which allows us to store about 90% of
            the exchange's coins offline</h4>
        </div>
        <div class="col-md-3 col-sm-6  text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/scalable-platform.png"/>
          </div>
          <br>
          <h4 class="t-white">Scalable Platform</h4>
        </div>
        <div class="col-md-3 col-sm-6 text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/own-api.png"/>
          </div>
          <br>
          <h4 class="t-white">Own API</h4>
        </div>
        <div class="col-md-3 col-sm-6 text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/exchange-pair.png"/>
          </div>
          <br/>
          <h4 class="t-white">80+ Fiat Currency & Cryptocurrency Trading Pairs</h4>
        </div>
        <div class="col-md-3 col-sm-6 text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/margin-trade.png"/>
          </div>
          <br>
          <h4 class="t-white">Margin Trading</h4>
        </div>
        <div class="col-md-3 col-sm-6 text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/margin-lending.png"/>
          </div>
          <br>
          <h4 class="t-white">Margin Lending</h4>
        </div>
        <div class="col-md-3 col-sm-6 text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/very-low-fee.png"/>
          </div>
          <br>
          <h4 class="t-white">Very Low Transaction Fee</h4>
        </div>
        <div class="col-md-3 col-sm-6 text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/easy-trade.png"/>
          </div>
          <br/>
          <h4 class="t-white">Easy way to make money</h4>
        </div>
        <div class="col-md-3 col-sm-6 text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/fast-exchange.png"/>
          </div>
          <br/>
          <h4 class="t-white">Ultra-Fast Exchange</h4>
        </div>
        <div class="col-md-3 col-sm-6 text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/military-grade.png"/>
          </div>
          <br>
          <h4 class="t-white">Military grade security source</h4>
        </div>
        <div class="col-md-3 col-sm-6 text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/order-book.png"/>
          </div>
          <br>
          <h4 class="t-white">Orderbook with Matching Engine</h4>
        </div>
        <div class="col-md-3 col-sm-6 text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/kyc.png"/>
          </div>
          <br>
          <h4 class="t-white">System For KYC/AML Verification</h4>

        </div>
        <div class="col-md-3 col-sm-6 text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/liquitity.png"/>
          </div>
          <br>
          <h4 class="t-white">Integrated Liquidity & API</h4>
        </div>
        <div class="col-md-3 col-sm-6 text-center s-icon order2">
          <div class="ftbg">
            <img src="/images/accuracy.png"/>
          </div>
          <br>
          <h4 class="t-white">Security with Escrow Accuracy</h4>
        </div>


      </div>


    </div>
  </section>

  <section class="dark-bg howit-bg stpsbgh animatedParent" id="howit">
    <h1 class="fnt-lgt t-white text-center text-uppercase animated fadeInUp go"> HOW IT WORKS </h1>
    <div class="container">
      <div class="row bs-wizard" style="border-bottom:0;">
        <div class="col-md-4 col-sm-4 col-xs-12 bs-wizard-step complete animated fadeInLeft go">
          <div class="text-center bs-wizard-stepnum">SIGNUP</div>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a class="bs-wizard-dot">1</a>
          <div class="bs-wizard-info text-center">Sign up and get registered with the Exchange. Once you have
            registered, wait for email confirmation and follow the KYC process. As soon as your account is
            confirmed log in and start seamless trading with over 80+ listed fiat currency and
            cryptocurrency pairs to choose from.
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 bs-wizard-step complete animated fadeInUp go"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">SUBMIT KYC

          </div>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a class="bs-wizard-dot">2</a>
          <div class="bs-wizard-info text-center">When you login, simply go to profile page and complete your
            KYC verification process and allow our Customer Documents Management and Compliance Team to
            verify and approve your documents using our AML supportive system.

          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 bs-wizard-step active animated fadeInRight go"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">START TRADING</div>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a class="bs-wizard-dot">3</a>
          <div class="bs-wizard-info text-center">EXCOINCIAL is a user-driven exchange with a friendly and
            welcoming user-interface. Registered users get access to all our advanced features at no extra
            cost. Trading on EXCOINCIAL is as easy as getting started. In three simple steps you can start
            trading today!
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class=" light-gray-bg acctget d3-box-bg animatedParent">
    <div class="bg-pic-ani"><img src="/images/3D-bg-pic.gif"/></div>
    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12 center-content text-center">
        <h2 class="t-white text-uppercase fnt-reg animated fadeInLeft go">OPEN ACCOUNT FOR FREE AND START
          TRADING AFCASH, BITCOIN, ETHEREUM NOW!</h2><br/>

        <% unless current_user %>
        <a href="/register"
           class="btn site-btn grad-btn text-uppercase animated fadeInRight go"> Get started </a>
        <% end %>
      </div>
    </div>
  </section>

  <section class="faq light-grey-bg animatedParent" id="faq">
    <div class="container animated fadeInUp go">
      <h1 class="fnt-lgt text-uppercase t-white text-center">FAQ</h1>
      <br>
      <div class="panel-group" id="accordion">

        <% @faq_all.each_with_index do | faq, index |%>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>"
                  class="panel-title expand">
                <div class="right-arrow pull-right"></div>
                <a href="javascript:void(0)" class="fnt-bld">
                  <%= faq.question.html_safe %>
                </a>
              </h5>
            </div>
            <div id="collapse<%= index %>" class="panel-collapse collapse <%= 'in' if index == 0 %>">
              <div class="panel-body"><%= faq.answer.html_safe %></div>
            </div>
          </div>
        <% end %>
    </div>

    </div>
  </section>

  <section class="bluebgf dark-bg acctget animatedParent" id="partners">
    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12 center-content text-center partners-logos">
        <h1 class="fnt-lgt text-uppercase t-white text-center animated fadeInDown go">Partners</h1>
        <div class="col-md-3 col-sm-6 animatedParent">
          <img class="animated growIn go" src="/images/partner-1.png"/>
        </div>
        <div class="col-md-3 col-sm-6 animatedParent">
          <a href="http://waceo.org/" target="_blank"><img class="animated growIn go"
                                                           src="/images/partner-2.png"/></a>
        </div>
        <div class="col-md-3 col-sm-6 animatedParent">
          <img class="animated growIn go" src="/images/partner-3.png"/>
        </div>
        <div class="col-md-3 col-sm-6 animatedParent">
          <img class="animated growIn go" src="/images/partner-4.png"/>
        </div>
        <div class="col-md-3 col-sm-6 animatedParent">
          <img class="animated growIn go" src="/images/partner-5.png"/>
        </div>
        <div class="col-md-3 col-sm-6 animatedParent">
          <img class="animated growIn go" src="/images/partner-6.png"/>
        </div>
        <div class="col-md-3 col-sm-6 animatedParent">
          <img class="animated growIn go" src="/images/partner-7.png"/>
        </div>
        <div class="col-md-3 col-sm-6 animatedParent">
          <a href="https://bitcore.cc/" target="_blank"><img class="animated growIn go"
                                                             src="/images/partner-8.png"/></a>
        </div>

      </div>
    </div>
  </section>

  <section class="contact-bg light-grey-bg animatedParent" id="contact">
    <div class="container animated fadeInUp go">
      <h1 class="l-f t-white text-center">Get in Touch</h1>
      <div class="col-sm-12  center-content  col-lg-7 col-md-10 mt30-xs contact-form-box">
        <div class="row mb30">
          <div class="col-xs-12  section-title text-center">
            <div class="title-line center-line yellow-line"></div>
          </div>
          <!-- /.column -->
        </div>
        <!-- /.row -->


        <p style="display: none;" id="require_msg" class="alert alert-warning alert-block"></p>
        <p style="display: none;" id="success_msg" class="alert alert-success alert-block"></p>

        <hr class="empty">

        <%= form_tag("/contactsave", method: "post", id: "contactForm", class: "site-form", name: "contactForm", 'data-toggle': "validator") do %>
          <div class="row mb10">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="controls">
                  <input class="form-control" data-error="This section is required." id="name"
                         name="name" placeholder="Your Name *" type="text">
                  <div class="help-block with-errors"></div>
                </div>

              </div>
            </div>


            <!-- /.column -->
            <div class="col-sm-6">
              <div class="form-group">
                <div class="controls">
                  <input class="email form-control" data-error="This section is required." id="email"
                         placeholder="Email *" type="email" name="email">
                  <div class="help-block with-errors"></div>
                </div>

              </div>
            </div>
            <!-- /.column -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="controls">
                  <input class="form-control" id="phone" placeholder="Phone Number *" name="phone"
                         type="text">
                </div>

              </div>
            </div>
            <!-- /.column -->

            <div class="col-sm-6">
              <div class="form-group">
                <div class="controls">
                  <input class="form-control" data-error="This section is required." name="subject"
                         id="subject" placeholder="Subject *" type="text">
                  <div class="help-block with-errors"></div>
                </div>

              </div>
            </div>
            <!-- /.column -->

          </div>
          <!-- /.row -->

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="controls">
                                    <textarea class="form-control" data-error="This section is required." id="message"
                                              name="message" placeholder="Message *" rows="5"></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt15">
            <div class="col-sm-6">
              <div id="msgSubmit" class="h4 hidden mt10 no-margin-bottom"></div>
            </div>
            <!-- /.column -->
            <div class="col-sm-12 text-center">
              <button type="button" id="submit_contact"
                      class="black-btn btn site-btn grad-btn text-uppercase">Submit
              </button>
            </div>
            <!-- /.column -->
          </div>
          <!-- /.row -->
          <!-- /.form -->

        <% end %>

        <br>
        <ul class="social-list trade-foot">
          <li><a href="https://www.facebook.com/excoincial" target="_blank"><i class="fa fa-facebook fa-size"
                                                                               aria-hidden="true"></i></a>
          </li>
          <li><a href="http://www.reddit.com/r/excoincial" target="_blank"><i class="fa fa-reddit-alien"
                                                                                   aria-hidden="true"></i></a>
          </li>
          <li><a href="https://www.linkedin.com/company/excoincial/" target="_blank"><i class="fa fa-linkedin"
                                                                                        aria-hidden="true"></i></a>
          </li>

          <li><a href="https://twitter.com/excoincial" target="_blank"><i class="fa fa-twitter fa-size"
                                                                          aria-hidden="true"></i></a></li>
          <li><a href="https://medium.com/@excoincial" target="_blank"><i class="fa fa-medium fa-size"
                                                                          aria-hidden="true"></i></a></li>
          <li><a href="http://t.me/excoincial" target="_blank"><i class="fa fa-telegram fa-size"
                                                                  aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="text-center suppctbg animatedParent">
    <div class="container animated fadeInUp go">
      <h1 class="l-f t-white text-center">SUBSCRIBE TO OUR NEWSLETTER</h1>
      <p class="content t-white col-md-8  center-content">Subscribe to our mailing list to get updates in your
        Emailbox
      </p>
      <br>
      <div class="col-md-12 subscribe-head">
        <div align="center">
          <div class="form-section">

<!--            @if ($message = Session::get('subscribestatus'))-->
<!--            <div class="alert alert-success alert-block">-->
<!--              <button type="button" class="close" data-dismiss="alert">×</button>-->
<!--              <strong>{{ $message }}</strong>-->
<!--            </div>-->
<!--            @endif-->


            <%= form_tag("/subscriber", method:"post", id:"subscribers") do %>
              <input type="hidden" name="">
              <input placeholder="Your Email..." name="email" id="mce-EMAIL" type="email" required>
              <input value="Get Started" name="subscribe" id="mc-embedded-subscribe" class="site-blue-btn"
                     type="submit">

<!--              @if ($errors->has('email'))-->
<!--              <span class="help-block">-->
<!--                <strong>{{ $errors->first('email') }}</strong>-->
<!--              </span>-->
<!--              @endif-->
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

</article>
