<!DOCTYPE html>
<html>
<head>
  <title>Excoincial</title>
  <%= csrf_meta_tags %>

  <link href="/favicon.ico" rel="shortcut icon" />

  <%#= stylesheet_link_tag    'web', media: 'all' %>
  <%#= domain_stylesheet_tag(domain_asset :stylesheet) %>
  <%#= javascript_include_tag 'web' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%#= domain_favicon_tag %>
  <%= render 'shared/meta' %>
</head>
<body data-spy="scroll">
<div class="loader"></div>
<%#= domain_html_tag(domain_asset :header) %>

<%= render 'shared/main_header' %>

<article>
  <section class="gray-bg inner-banner-bg">
    <div class="container">
      <div class="col-md-12">
        <div class="col-md-5 content-center signup-box login-box">
          <%= yield %>

        </div>
      </div>

    </div>
  </section>
</article>



<%= render 'shared/footer' %>
<%#= domain_html_tag(domain_asset :footer) %>
</body>
</html>
